.snakeBody{
  background-color:black; 
  width: 25px;
  height: 25px
}

.snakeHead{
  background-color:brown; 
  width: 25px;
  height: 25px
}

.food{
  width: 25px;
  height: 25px;
  position: fixed;
}

.board{
  width:675px;
  height: 675px;
  margin:auto;
  border: solid 10px;
  background-color: rgb(140, 245, 126)
}

.startButton{
  width:50px;
  height: 50px;
  border: 1px black;
  background-color:brown;
  text-align: center;
  align: center;
}

.endGameMsg{
  text-align: center;
}