.snakeBody{
  background-color:black; 
  width: 25px;
  height: 25px
}

.snakeHead{
  background-color:brown; 
  width: 25px;
  height: 25px
}

.obs{
  width: 25px;
  height: 25px
}

.board{
  width:500px;
  height: 500px;
  background-color: aqua
}